/* reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:black;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; ;
    
} 

/*container-large*/
.container-large {
    width: 800px;
    margin: auto;
}

/*HEADER SECTION*/
/* header */
header {
    width: 100%;
    background-color:rgb(37 94 233) ;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav-bar */
.nav-bar {
    width: 70%;
    background-color:rgb(37 94 233) ;
    display: flex;
}

/*CHILD NAV BAR*/
/* logo */
.logo {
   width: 15%;
   display: flex;
   justify-content: center;
}

img {
   max-width: 100%;
   
}

/*nav-lin*/
.nav-link {
    padding: 3px;
    width: 70%;
    text-align: center;
}

/*li*/
ul > li {
    display: inline;
}

/*a*/
a { 
    text-decoration: none;
    font-size: 0.6rem;
    color: white;
    padding: 8px;
}

/*nav-login*/
.nav-login {
    padding: 3px;
    width: 15%;
    text-align: center;
}

/* login */
.login {
    background-color: white;
    color: black;
    font-size: 0.7rem;
    padding: 8px;
    border-radius: 30px;
}


/*MAIN SECTION*/
.section-large {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    
}

/* section-large-w */
.section-large-w {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* section-large-g */
.section-large-g {
   
    background-color:rgb(211 211 211) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section-large-grey-green  */
.section-large-grey-green {
     /*debug*/
     /* height: 400px; */
     background-color:rgb(211 211 211) ;
     display: flex;
     justify-content: center;
     align-items: center;
}

/*SECTION CHILD SELECTOR*/
/* large-child */
.large-child {
    width: 70%;
    /*debug*/
    text-align: center;
    padding: 60px;
    
}

/*title-large-child*/
.title-large-child {
    color: white;
}

/* par-text */
.par-text {
    color: white;
    font-size:0.8rem ;
    padding: 20px;

}

.par-text-child {
    font-size:0.8rem ;
    padding-top: 10px;
}

/* download-mac */
.download-mac {
    background-color: white;
    color: black;
    border-radius: 30px;
    font-weight: 600;
}

/* open-discord */
.open-discord {
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 5px;
}

/* container-child */
.container-child {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 20px;
    
}

.child-left {
    width:60% ;
    /*debug*/
    
   
}

.child-right {
    width: 40%;
    text-align: left;
    
    
}

/*child-gren*/
.container-child-green {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 40px;
    
   
}

.container-child-green-background {
    width: 100%;
    min-height: 50px;
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-size: 70%;
    padding: 30px;
    
}

.white-link {
    background-color: rgb(114 137 218);
    color: white;
    
    
}

/*FOOTER SECTION*/
/* section-footer-top */
.section-footer-top {
    background-color: rgb(35 39 42);
    border-bottom: 1px solid rgb(211 211 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section-footer-bottom */
.section-footer-bottom {
    background-color: rgb(35 39 42);
    border-bottom: 1px solid rgb(211 211 211);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*FOOTER CHILD SECTION*/

.child-pink {
    width: 30%;
    
    
}

/* footer-title */
.footer-text-color {
    color:rgb(114 137 218) ;
    
}

.ita-img-cont {
    display: flex;
    width: 15%;
    margin-top: 5px;
    

}

.ita-l-title{
    font-size:0.7rem ;
    color: white;
    margin-left: 3px;
    
}

.child-lightblue {
    width: 20%;
    
   
}

.icons-footer{
    display: flex;
    gap: 7px;
}

.fa-brands {
    color: white;
    font-size: 0.7rem;
    padding-top: 10px;
}

.ul-footer .li-footer {
    display: flex;
    
    

}
.li-footer  {
    font-size:0.5rem ;
    color: white;
    margin-top: 5px;
    
    
    
    
} 

/*FOOTER CHILD SECTION BOTTOM*/

.container-child-lastgrey {
    width: 70%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.last-link-child-right {
    
   background-color:rgb(114 137 218) ;
   margin-bottom: 5px;
   padding: 5px;
   border-radius: 30px;

}

.footer-logo {
    max-width: 80%;
}










